---
const values = [
  [
    {
      ref: '01',
      name: 'Excellence',
      description:
        'We pride ourselves on delivering solutions that redefine industry benchmarks. Our commitment to excellence is ingrained in every line of code, every design element, and every interaction. We cultivate a culture of continuous improvement, fostering innovation, and staying at the forefront of technological advancements.',
    },
    {
      ref: '02',
      name: 'Innovation',
      description:
        'We thrive on pushing boundaries, exploring the uncharted, and redefining what\'s possible. Our culture fosters a spirit of curiosity and fearlessness, empowering every team member to think beyond convention and embrace creativity. From groundbreaking web and mobile solutions to cutting-edge AI integrations, we embrace innovation as a mindset.',
    },
  ],
  [
    {
      ref: '03',
      name: 'Teamwork',
      description:
        'At FireHouse Labs, teamwork is the cornerstone of our success. We believe that the synergy of diverse talents and perspectives fuels innovation. Our collaborative environment encourages open communication, mutual respect, and a shared commitment to our mission. Every project is a collective effort, where each team member\'s unique strengths contribute to the overall success.',
    },
    {
      ref: '04',
      name: 'Respect',
      description:
        'We value the unique strengths, perspectives, and contributions of every team member, client, and partner. Our commitment to mutual respect creates an inclusive environment where diverse ideas flourish, fostering innovation and excellence.',
    },
  ],
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-8 lg:gap-12">
      <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Our Values</h2>
      <div class="grid gap-8 lg:grid-cols-2">
        {
          values.map((column, index) => (
            <div class:list={['space-y-8', index === 1 && 'lg:mt-16']}>
              {column.map((value) => (
                <div class="bg-primary-500/10 dark:bg-primary-400/10 flex flex-col gap-12 rounded-3xl px-6 py-8">
                  <p class="text-sm">{value.ref}</p>
                  <div class="flex flex-col gap-4">
                    <h3 class="text-xl font-medium">{value.name}</h3>
                    <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
                      {value.description}
                    </p>
                  </div>
                </div>
              ))}
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
