---
const services = [
  {
    step: '01',
    name: 'Investigate',
    description:
      'Uncover opportunities and define your digital roadmap with our thorough investigative phase, where we analyze, strategize, and lay the groundwork for a solution tailored to your unique needs.',
  },
  {
    step: '02',
    name: 'Develop',
    description:
      'From concept to code, our development phase transforms ideas into dynamic digital experiences, leveraging cutting-edge technologies to bring your vision to life with precision and innovation.',
  },
  {
    step: '03',
    name: 'Maintain',
    description:
      'Our commitment extends beyond deployment. In the maintenance phase, we ensure continuous peak performance, security, and adaptability, safeguarding your digital investment for sustained excellence.',
  },
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-12 sm:gap-16">
      <h2 id="services" class="text-3xl font-medium tracking-tight sm:text-4xl">Services</h2>
      <div class="grid gap-8 lg:grid-cols-3">
        {
          services.map((service) => (
            <div class="bg-primary-500/10 dark:bg-primary-400/10 flex flex-col gap-12 rounded-3xl px-6 py-8">
              <p class="text-sm">{service.step}</p>
              <div class="flex flex-col gap-4">
                <h3 class="text-xl font-medium">{service.name}</h3>
                <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
                  {service.description}
                </p>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
